<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Подключаем файл с нашим фильтром -->
{% load custom_filters %}
<!-- Подключаем файл с нашим тегом -->
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости/статьи ({{ news|length }})</h1>
    <!-- Вот так выглядело использование переменной и фильтра -->
<!--    <h3>{{ time_now|date:'d M Y l' }}</h3> -->
    <!-- А вот так мы используем наш тег-->
    <h3>{% current_time '%d %b %Y %A' %}</h3>

    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Содержимое</td>
            </tr>
            {% for new in news %}
            <tr>
                <td>{{ new.title|censor }}</td>
                <td>{{ new.date_time_out|date:'d M Y'}}</td>
                <td>{{ new.content|truncatechars:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей/статей нет!</h2>
    {% endif %}


    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}